-
   let menuItems = [
      {title: 'Принципы', to: 'garant'},
      {title: 'Продукты и решения', to: 'products-wrap'},
      {title: 'Кейсы', to: 'projects'},
      {title: 'Цифры', to: 'numbers'},
      {title: 'Вендоры', to: 'vendors'},
      {title: 'Отзывы', to: 'reviews'},
      {title: 'Контакты', to: 'map'},
   ]

-
   let headerFeatures = [
      'подбор вендора',
      'оптимизация сметы',
      'наличие 100 % позиций',
      'запуск в эксплуатацию',
      'информационная безопасность',
      'поддержка'
   ]

-
   let pageTypes = {
      server: {
         title: 'Надежный поставщик профессиональных серверных решений',
         features: [
            'проектирование / аудит IT-инфраструктуры',
           ...headerFeatures
         ]
      },
      network: {
         title: 'Надежный поставщик профессионального сетевого оборудования',
         features: [
            'проектирование / аудит сетевой инфраструктуры',
            ...headerFeatures
         ]
      },
      storage: {
         title: 'Надежный поставщик систем хранения данных',
         features: [
            'проектирование / аудит IT-инфраструктуры',
            ...headerFeatures
         ]
      },
      print: {
         title: 'Надежный поставщик профессионального печатного оборудования',
         features: [
            'проектирование / аудит IT-инфраструктуры',
            ...headerFeatures
         ]
      },
   }

header.header.multiclass.polygon-block_down-left(class=pageType)
   .header__bg-wrap
      .header__bg(style=`background-image: url('assets/img/1header/hero-${pageType}.png')`)
   .wrapper
      .header__topline.topline
         a.topline__logo(href="#")
            .topline__brand
               span EXA
               | Systems
            .topline__slogan
               div Порядочность.
               div Профессионализм.
               div Ответственность.

         ul.topline__menu.j-menu
            each item in menuItems
               -let {title, to} = item
               li.topline__item(data-link=to) #{title}
         .topline__burger.j-menu-switcher
            div

         .topline__contacts
            .topline__phone
               +svg('phone', 'topline__icon topline__icon_phone')
               a(href="tel:+74955404708") +7 (495) 540-47-08
            span.topline__callback.modal-link-callback Обратный звонок


      .header__hero.hero
         .hero__title #{pageTypes[pageType].title}
         .hero__content
            .hero__features.features.features_blue
               .features__title Берем ответственность за полный цикл
               ul.features__list
                  each feature in pageTypes[pageType].features
                     li.features__item #{feature}

            button.hero__btn.btn.btn_arrow.modal-link-full Отправить запрос на расчет стоимости


