-
  let teamData = [
    {
      name: 'Семенов Константин Владимирович, 39&nbsp;лет',
      position: 'Генеральный директор, сооснователь',
      img: 'semenov',
      list: [
        '15 лет опыта управления IT-проектами в крупных торговых, производственных и строительных компаниях',
        'Участие в международных технических проектах',
        'Выпускник МГТУ им. Н.Э.Баумана по специальности "Автоматизированные системы обработки информации и управления”',
        'Профессиональные интересы – активное применение облачных технологий',
      ]
    },
    {
      name: 'Горшков Олег Викторович, 39&nbsp;лет',
      position: 'Руководитель направления слаботочных систем',
      img: 'gorshkov',
      list: [
        'Опыт в сфере систем безопасности и слаботочных систем – 14 лет',
        'Прошел профессиональный путь от инженера до руководителя отдела «Комплексных Инженерных Систем» в строительной компании «МОРТОН»',
        'Образование среднее специальное техническое',
        'Женат. Увлечен путешествиями, дайвингом и горными лыжами',
      ]
    },
    {
      name: 'Стедорцов Денис Васильевич, 38&nbsp;лет',
      position: 'Технический директор',
      img: 'stedortsov',
      list: [
        'Образование высшее техническое',
        'Опыт работы в области организации и развития IT – 16 лет, из них 6 на руководящих должностях в крупных промышленных предприятиях',
        'Портфель проектов – 3,6 млрд. руб., в области IT/связи/АСУТП',
        'Женат. Интересы – туризм, история',
      ]
    },
    {
      name: 'Евланов Артем Евгеньевич, 39&nbsp;лет',
      position: 'Коммерческий директор, сооснователь',
      img: 'evlanov',
      list: [
        'Окончил МГТУ им. Н.Э. Баумана, красный диплом',
        'Опыт предпринимательства с 2004г',
        'Основал и развил 2 производственные компании с нуля до 50+ сотрудников',
        'Вдохновляется женой, воспитывает сына',
        'Дайвинг, сноуборд, саморазвитие',
      ]
    },
    {
      name: 'Золин Михаил Валерьевич, 30&nbsp;лет',
      position: 'Системный администратор',
      img: 'zolin',
      list: [
        'Образование высшее техническое',
        'Опыт в IT – 7 лет',
        'После старта карьеры в «Аристон Термо Групп» был призван на армейскую службу в войска связи, уволился в запас в звании сержанта',
        'В ГК Мортон получил бесценный опыт работы в условиях систематизации IT-инфраструктуры',
        'Женат. Из интересов выделяет чтение, в остальном же продолжает поиск своей «музы»',
      ]
    },
  ]



.team
  .team__bg-wrap
    .team__bg
  .wrapper

    .team__inner
      h2.team__title.section-title Наша команда
      .team__content

        .team__column
          - for(let i=0; i<teamData.length/2; i++)
            .team__member
              - let member = teamData[i]
              img.team__img(src=`assets/img/11team/${member.img}.png`)
              .team__info
                p.team__text.bold !{member.name}
                p.team__text.bold #{member.position}
                ul.team__skills
                  each skill in member.list
                    li.team__skill
                      +svg('arrow-right', 'team__icon')
                      p.team__text #{skill}

        .team__column
          .team__ensurance
            .team__ensurance-content
              img(src="assets/img/11team/protect.png")
              .team__sum
                p.team__text.bold Профессиональная ответственность каждого инженера застрахована на
                p.team__text.big 10 000 000 Р

          - for(let i=Math.ceil(teamData.length/2); i<teamData.length; i++)
            .team__member
              - let member = teamData[i]
              img.team__img(src=`assets/img/11team/${member.img}.png`)
              .team__info
                p.team__text.bold !{member.name}
                p.team__text.bold #{member.position}
                ul.team__skills
                   each skill in member.list
                     li.team__skill
                       +svg('arrow-right', 'team__icon')
                       p.team__text #{skill}
