include ../utils/mixins
//- Included components
include ../includes/components/form
include ../includes/components/slider-line


block variables

doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      title #{title}
      <!--    TODO paths -->
      link(rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png")
      link(rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png")
      link(rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png")
      link(rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png")
      link(rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png")
      link(rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png")
      link(rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png")
      link(rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png")
      link(rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png")
      link(rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png")
      link(rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png")
      link(rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png")
      <!--    TODO-->
      <!--  link(rel="manifest" href="manifest.json") -->
      meta(name="msapplication-TileColor" content="#ffffff")
      meta(name="msapplication-TileImage" content="ms-icon-144x144.png")
      meta(name="theme-color" content="#ffffff")
      <!-- Google Tag Manager -->
      script.
         (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({"gtm.start": new Date().getTime(), event: "gtm.js"});
            var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
         })(window, document, "script", "dataLayer", "GTM-593953Q");
      <!-- End Google Tag Manager -->
      block head


   body
      <!-- Google Tag Manager (noscript) -->
      noscript
         iframe
         src="https://www.googletagmanager.com/ns.html?id=GTM-593953Q"
         height="0"
         width="0"
         style="display: none; visibility: hidden"
      <!-- End Google Tag Manager (noscript) -->
      block content

      script.
         function initMap() {
            var map, map2;
            var responsiveLat = 55.654604;
            var responsiveLng = 37.516493;
            var zom = 11;
            map = new google.maps.Map(document.getElementById("map"), {
               center: {
                  lat: responsiveLat,
                  lng: responsiveLng
               },
               zoom: zom,
               styles: [
                  {
                     featureType: "all",
                     elementType: "labels",
                     stylers: [
                        {
                           visibility: "on"
                        }
                     ]
                  },
                  {
                     featureType: "all",
                     elementType: "labels.text",
                     stylers: [
                        {
                           visibility: "on"
                        }
                     ]
                  },
                  {
                     featureType: "all",
                     elementType: "labels.text.fill",
                     stylers: [
                        {
                           saturation: 36
                        },
                        {
                           color: "#dee6f0"
                        },
                        {
                           lightness: 40
                        },
                        {
                           visibility: "on"
                        }
                     ]
                  },
                  {
                     featureType: "all",
                     elementType: "labels.text.stroke",
                     stylers: [
                        {
                           visibility: "off"
                        },
                        {
                           color: "#000000"
                        },
                        {
                           lightness: 16
                        }
                     ]
                  },
                  {
                     featureType: "all",
                     elementType: "labels.icon",
                     stylers: [
                        {
                           visibility: "off"
                        },
                        {
                           hue: "#ff0000"
                        }
                     ]
                  },
                  {
                     featureType: "administrative",
                     elementType: "geometry.fill",
                     stylers: [
                        {
                           color: "#353c44"
                        },
                        {
                           lightness: 20
                        }
                     ]
                  },
                  {
                     featureType: "administrative",
                     elementType: "geometry.stroke",
                     stylers: [
                        {
                           color: "#000000"
                        },
                        {
                           lightness: 17
                        },
                        {
                           weight: 1.2
                        }
                     ]
                  },
                  {
                     featureType: "landscape",
                     elementType: "geometry",
                     stylers: [
                        {
                           color: "#000000"
                        },
                        {
                           lightness: 20
                        }
                     ]
                  },
                  {
                     featureType: "landscape",
                     elementType: "geometry.fill",
                     stylers: [
                        {
                           color: "#1c1e25"
                        }
                     ]
                  },
                  {
                     featureType: "landscape.man_made",
                     elementType: "labels.text",
                     stylers: [
                        {
                           visibility: "on"
                        }
                     ]
                  },
                  {
                     featureType: "landscape.man_made",
                     elementType: "labels.icon",
                     stylers: [
                        {
                           visibility: "on"
                        },
                        {
                           hue: "#e0ff00"
                        }
                     ]
                  },
                  {
                     featureType: "poi",
                     elementType: "geometry",
                     stylers: [
                        {
                           color: "#000000"
                        },
                        {
                           lightness: 21
                        }
                     ]
                  },
                  {
                     featureType: "poi",
                     elementType: "geometry.fill",
                     stylers: [
                        {
                           color: "#1e212b"
                        }
                     ]
                  },
                  {
                     featureType: "poi",
                     elementType: "labels.text",
                     stylers: [
                        {
                           visibility: "on"
                        }
                     ]
                  },
                  {
                     featureType: "poi",
                     elementType: "labels.icon",
                     stylers: [
                        {
                           visibility: "on"
                        }
                     ]
                  },
                  {
                     featureType: "road.highway",
                     elementType: "geometry.fill",
                     stylers: [
                        {
                           color: "#00cebd"
                        },
                        {
                           lightness: 17
                        },
                        {
                           saturation: "11"
                        }
                     ]
                  },
                  {
                     featureType: "road.highway",
                     elementType: "geometry.stroke",
                     stylers: [
                        {
                           color: "#000000"
                        },
                        {
                           lightness: 29
                        },
                        {
                           weight: 0.2
                        }
                     ]
                  },
                  {
                     featureType: "road.highway",
                     elementType: "labels.text.fill",
                     stylers: [
                        {
                           visibility: "simplified"
                        }
                     ]
                  },
                  {
                     featureType: "road.highway",
                     elementType: "labels.icon",
                     stylers: [
                        {
                           hue: "#ff7a00"
                        },
                        {
                           saturation: "79"
                        },
                        {
                           visibility: "on"
                        },
                        {
                           lightness: "-33"
                        },
                        {
                           gamma: "0.63"
                        }
                     ]
                  },
                  {
                     featureType: "road.arterial",
                     elementType: "geometry",
                     stylers: [
                        {
                           color: "#000000"
                        },
                        {
                           lightness: 18
                        }
                     ]
                  },
                  {
                     featureType: "road.arterial",
                     elementType: "geometry.fill",
                     stylers: [
                        {
                           color: "#256a72"
                        },
                        {
                           saturation: "61"
                        }
                     ]
                  },
                  {
                     featureType: "road.local",
                     elementType: "geometry",
                     stylers: [
                        {
                           color: "#000000"
                        },
                        {
                           lightness: 16
                        }
                     ]
                  },
                  {
                     featureType: "road.local",
                     elementType: "geometry.fill",
                     stylers: [
                        {
                           gamma: "1"
                        },
                        {
                           lightness: "0"
                        },
                        {
                           color: "#2d414b"
                        }
                     ]
                  },
                  {
                     featureType: "transit",
                     elementType: "geometry",
                     stylers: [
                        {
                           color: "#000000"
                        },
                        {
                           lightness: 19
                        }
                     ]
                  },
                  {
                     featureType: "transit.line",
                     elementType: "geometry.fill",
                     stylers: [
                        {
                           color: "#eb0202"
                        }
                     ]
                  },
                  {
                     featureType: "transit.station",
                     elementType: "geometry.fill",
                     stylers: [
                        {
                           color: "#ff1d00"
                        },
                        {
                           saturation: "-35"
                        },
                        {
                           lightness: "-47"
                        }
                     ]
                  },
                  {
                     featureType: "transit.station",
                     elementType: "labels.icon",
                     stylers: [
                        {
                           hue: "#00d4ff"
                        },
                        {
                           visibility: "simplified"
                        },
                        {
                           lightness: "0"
                        },
                        {
                           saturation: "0"
                        },
                        {
                           gamma: "0.5"
                        }
                     ]
                  },
                  {
                     featureType: "water",
                     elementType: "geometry",
                     stylers: [
                        {
                           color: "#000000"
                        },
                        {
                           lightness: 17
                        }
                     ]
                  }
               ]
            });

            var locations = [
               {
                  title: "Москва",
                  position: {
                     lat: 55.654604,
                     lng: 37.416493
                  },
                  icon: {
                     url: "assets/img/12map/marker.png",
                     // scaledSize: new google.maps.Size(34, 50),
                     anchor: {
                        x: 12,
                        y: 30
                     }
                  }
               }
            ];
            locations.forEach(function (element) {
               var marker = new google.maps.Marker({
                  position: element.position,
                  map: map,
                  title: element.title,
                  icon: element.icon
               });
               marker.addListener("click", function () {
                  infowindow.open(map, marker);
               });
            });
         }
         window.initMap = initMap
      script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMcCsJDWmGrWd6Njlwe6AvrfMhZwm0ImM&callback=initMap" type="text/javascript")

      block script
